@charset "UTF-8";

@font-face {
    font-family: 'Pricedown';
    src: url(pricedown/Pricedown\ Bl.otf);
}
:root{
    --font-principal: 'Pricedown';
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Pricedown',Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top,#000000);
}
h1{
    margin-bottom: 25px;
   font-size: 100px;
   color: #F29F05;
  
   text-shadow: 0 0 10px #F29F05;
}
div#cadastro{
    display: grid;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form-login{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color:#A6610D;

    padding: 20px;
    border-radius: 10px;

    width: 60vh;
    height: 56vh;
}
fieldset{
    height: 100%;
    width: 100%;
    
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

p{ 
height: 15%;
font-size: 25px;
color:#F29F05;
text-shadow:2px 1px 0px black;

}
.nome{
    margin-top: 20px;

}
fieldset > label, input{
    margin: 10px;
    height: 25px;
}

fieldset > section > .enviar,.limpar{
    background-color: transparent;
    padding: 3.5px;
    border-radius: 10px;
    height: 30px;
    border: 2px solid black;
    width: 100px;
}

fieldset > section > .enviar:hover , .limpar:hover{
    background-color: blue;
    color: white;
    transition: 0.5s;
}
